.caption {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 30px
}

ul.side-nav.fixed li.logo {
    text-align: center;
    margin-bottom: 25px;
    background-color: rgba(58, 62, 69, 0.5);
}

ul.side-nav.fixed li.logo:hover,
ul.side-nav.fixed li.logo #logo-container:hover {
    background-color: transparent;
}

ul.side-nav.fixed li > a#logo-container {
  padding-top: 8px;
  height: 60px;
}

ul.side-nav.fixed li > a#logo-container img {
  height: 45px;
}

ul.side-nav.fixed {
    overflow: hidden;
    background-color:rgb(27, 30, 36);
    width: 270px;
}

ul.side-nav.fixed li {
    line-height: 40px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
}

ul.side-nav.fixed li.active {
    background-color: rgba(0,0,0,0.05)
}

ul.side-nav.fixed ul.collapsible-accordion > li > a,
ul.side-nav.fixed ul.collapsible-accordion a.collapsible-header {
  font-size: 15px;
  min-height:40px;
  padding-left: 20px;
  padding-right: 20px;
}

ul.side-nav.fixed li > a:hover
{
  background-color:rgba(255, 255, 255, 0.2)
}

ul.side-nav.fixed li > a,
ul.side-nav.fixed li > a > i {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    line-height: 40px;
    height: 40px;
}

ul.side-nav.fixed li.bold > a {
    font-weight: 400;
}

ul.side-nav.fixed li > a > i {
    margin-right: 20px
}

ul.side-nav.fixed ul.collapsible-accordion a.collapsible-header {
    padding: 0 30px
}

ul.side-nav.fixed ul.collapsible-accordion .collapsible-body ul li a {
    padding-left: 45px;
}

ul.side-nav.fixed ul.collapsible-accordion .collapsible-body {
    background-color: rgba(255, 255, 255, 0.02);
}

ul.side-nav.fixed ul.collapsible-accordion .collapsible-body li a {
    font-weight: 300;
    padding: 0 37.5px 0 45px;
}

ul.side-nav.fixed:hover {
    overflow-y: auto
}

@media only screen and (min-width: 993px) {
    .container {
        width:85%
    }
}

.dropdown-content {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  min-width: 200px;
}

.dropdown-content li > a {
    color: rgba(0, 0, 0, 0.7);
}

.page-body {
  height:100%;
}
.page-toolbar {
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  color: #fff;
  height: 60px;
  font-size: 1.6em;
  font-weight: 500;
  min-height: 60px;
  padding: 0 15px;
  z-index: 3;
}

.page-toolbar > * {
  color: black;
/*   display: flex; */
  margin: 0 5px;
}

.page-main {
  background: #e6e6e6;
  overflow-y: auto;
}
.page-main-inner {
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  margin: 20px;
}

/* @media only screen and (max-width: 992px) {
  .page-toolbar, .page-main {
    margin-left: 0px;
  }
}

@media only screen and (min-width: 992px) {
  .page-toolbar, .page-main {
    margin-left: 270px;
  }
}
 */