<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a materialize="sideNav" [materializeParams]="[{closeOnClick1: true, draggable: true}]" 
      href="#" data-activates="side-nav-panel" class="button-collapse top-nav full hide-on-large-only">
        <i class="material-icons">menu</i>
      </a>
      <a href="#" class="center" style="font-size:130%;">{{title}}</a>
      <ul class="right">
        <li>
          <a class="dropdown-button" href="#" data-activates="dropdown1" data-beloworigin="true">
            <span style="height:56px; line-height:56px;">
              <img style="width:40px;height:40px;border-radius:50%; vertical-align:middle;" 
                  src="https://s.gravatar.com/avatar/f850593bdae3cb1c8c535b4acfdfdb98?s=80">
            </span>
          </a>
        </li>
      </ul>
      <ul id='dropdown1' class='dropdown-content'>
        <li><a (click)="toggleBanner()">Banner</a></li>
        <li><a (click)="logout()">Logout</a></li>
      </ul>

      <ul class="side-nav fixed" id="side-nav-panel">
        <li>
          <a class="waves-effect" routerLink="/profile" routerLinkActive="active" (click)="clickLink()">
            <i class="material-icons">cloud</i>
            Profile
          </a>
        </li>
        <li>
          <a class="waves-effect" routerLink="/md1" routerLinkActive="active" (click)="clickLink()">
            <i class="material-icons">cloud</i>
            MD1
          </a>
        </li>
        <li>
          <a class="waves-effect" routerLink="/md2" routerLinkActive="active" (click)="clickLink()">
            <i class="material-icons">cloud</i>
            MD2
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
  <div>5</div>
  <div>6</div>
  <div>7</div>
  <div>8</div>
  <div>9</div>
  <div>0</div>
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
  <div>5</div>
  <div>6</div>
  <div>7</div>
  <div>8</div>
  <div>9</div>
  <div>0</div>
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
  <div>5</div>
  <div>6</div>
  <div>7</div>
  <div>8</div>
  <div>9</div>
  <div>0</div>
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
  <div>5</div>
  <div>6</div>
  <div>7</div>
  <div>8</div>
  <div>9</div>
  <div>0</div>
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
  <div>5</div>
  <div>6</div>
  <div>7</div>
  <div>8</div>
  <div>9</div>
  <div>0</div>

  <router-outlet></router-outlet> 
